<extend name="Home@Public:base" />
<block name="breadcrumb">
    <ul class="breadcrumb">
        <li> <i class="icon-home home-icon"></i>
            <a href="{:U('Home/Main/main')}">品牌管理</a>
        </li>
        <li class="active">升级</li>
    </ul>
</block>

<block name="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">会员信息</h3>
                </div>
                <div class="panel-body"> 
                    <input type="hidden" id="user_id" value="{$member.id}">
                    <div class="row">
                        <div class="form-group col-xs-4">姓名:{$member.name}</div>
                        <div class="form-group col-xs-4">电话:{$member.phone}</div>
                        <div class="form-group col-xs-4">
                            性别:
                            <if condition="female eq $member['sex']">
                                女
                                <else/>
                                男
                            </if>
                        </div>
                    </div>

                    <!-- <div class="row">
                    <div class="form-group col-xs-4">卡号:{$card.card_number}</div>
                    <div class="form-group col-xs-4">
                        卡状态:
                        <switch name="card.status">
                            <case value="0">正常</case>
                            <case value="1">挂失</case>
                            <case value="1">新办</case>
                            <case value="1">请假中</case>
                            <case value="1">已销毁</case>
                            <default />
                            正常
                        </switch>

                    </div>
                    <div class="form-group col-xs-4">
                        是否激活：
                        <if condition="1 eq $card['is_active']">
                            激活
                            <else />
                            未激活
                        </if>
                    </div>
                </div>
                -->
            </div></div>

            <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">当前合同信息</h3>
            </div>
            <div class="panel-body">
                <input type="hidden" id="contract_id" value="{$contract.id}">
                <div class="form-group col-xs-4">合同编号:{$contract.contract_number}</div>
                <div class="form-group col-xs-4">卡种:{$contract.card_type.name}</div>
                <div class="form-group col-xs-4">
                    次数:
                    <if condition="1 eq $contract['card_type']['type']">
                        不限次数
                        <else/>
                        {$contract.used_num}/{$contract.total_num}
                    </if>
                </div>
                <div class="form-group col-xs-4">应收价格:{$contract.price}</div>
                <div class="form-group col-xs-4">已付:{$contract.payed}</div>
                <div class="form-group col-xs-4">欠款:{$contract['price']-$contract['payed']}</div>
                <div class="form-group col-xs-4">
                    开卡方式:
                    <switch name="contract.active_type" >
                        <case value="0">买卡当天开卡</case>
                        <case value="1">指定日期开卡</case>
                        <case value="2">第一次到开卡</case>
                        <default />
                        买卡当天开卡
                    </switch>

                </div>
                <div class="form-group col-xs-4">
                    有效期限:
                    <if condition="2 eq $contract['active_type']">
                        {$contract['card_type']['valid_time']}月 + {$contract.present_day}天
                        <else/>
                        {$contract.start_time}--{$contract.end_time}
                    </if>

                </div>
            </div>

        </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">可升级卡种信息</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal ajaxForm" id="validation-form" method="post" action="{:U('Cashier/Contract/doUpgrade')}">
                     <input type="hidden" name="current_contract_id" value="{$contract.id}">
                    <input type="hidden" name="current_member_id" value="{$contract.member_id}">
                        <div class="col-xs-12 col-sm-7">
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for></label>

                                <div class="col-xs-12 col-sm-9">
                                    <label class="radio-inline">
                                        <input type="radio" name="type" value="0" checked="checked">普通合同</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="type" value="1">团卡合同</label>

                                </div>
                            </div>

                            <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="join_mc_id">会籍顾问:</label>
                                        <div class="col-xs-12 col-sm-9">
                                         <select name="join_mc_id" id="join_mc_id" class="col-xs-12 col-sm-6">
                                          <option value="0" >无MC</option>
                                                <volist name="mcs" id="mc">
                                                    <option value="{$mc.id}"   <if condition="$mc['id'] eq $contract['mc_id']"> selected="1" </if>>{$mc.name_cn}</option>
                                                </volist>
                                            </select> 
                                        </div>
                                        </div> 

                                        
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="card_type_id">选择卡种:</label>

                                <div class="col-xs-12 col-sm-9">
                                    <div class="clearfix">
                                        <select name="card_type_id" id="card_type_id" class="col-xs-12 col-sm-6">
                                            <option value="0">请选择卡种</option>
                                            <volist name="cardtypes" id="type">
                                                <option value="{$type.id}">{$type.name}</option>
                                            </volist>
                                        </select>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group hide" id="detail">

                                <label class="control-label col-xs-6 col-sm-3 no-padding-right" for="cardtype"></label>
                                <label >卡种类型:</label>
                                <label  id="cardtype" ></label>
                                <label >价格:</label>
                                <label  id="card_price" ></label>

                                <label >&nbsp;&nbsp;&nbsp;有效时间:</label>
                                <label  id="valid_time" ></label>

                                <label >&nbsp;&nbsp;&nbsp;有效次数:</label>
                                <label  id="valid_number"></label>
                            </div>
                            <div class="form-group">
                                <label  id="lbl_day" class="control-label col-xs-12 col-sm-3 no-padding-right" for="present_day">升级赠送天数:</label>

                                <div class="col-xs-12 col-sm-9">
                                    <div class="clearfix">
                                        <input type="text" class="col-xs-12 col-sm-6" name="present_day" id="present_day" value="0">
                                        <label   class="col-xs-12 col-sm-2" name="day_tip" id="day_tip" ></label>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label  id="lbl_num" class="control-label col-xs-12 col-sm-3 no-padding-right" for="present_num">升级赠送次数:</label>

                                <div class="col-xs-12 col-sm-9">
                                    <div class="clearfix">
                                        <input type="text" class="col-xs-12 col-sm-6" name="present_num" id="present_num" value="0">
                                        <label   class="col-xs-12 col-sm-2" id="num_tip" ></label>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="start_time">开始日期:</label>

                                <div class="col-xs-12 col-sm-9">
                                    <input type="text" class="col-xs-12 col-sm-6" name="start_time" id="start_time" disabled value="{$contract.start_time}"></div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="end_time" >结束日期:</label>

                                <div class="col-xs-12 col-sm-9">
                                    <input type="text" class=" col-xs-12 col-sm-6 " name="end_time" id="end_time" readonly = "readonly"></div>

                            </div>

                              <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="free_trans" >免费转会籍一次:</label>

                            <div class="col-sm-9"> 
                                            <span class="help-inline col-xs-12 col-sm-7">
                                                <label class="middle">
                                                    <input class="ace" type="checkbox" name="free_trans" id="free_trans"      <if condition="1 eq $contract['free_trans']"> checked="checked" </if>      /> 
                                                        <span class="lbl"> &nbsp</span>
                                                </label>
                                            </span>
                                        </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="free_rest" >免费停卡次数:</label> 
                             <div class="col-xs-12 col-sm-9"> 
                                                <input type="text" class="col-xs-12 col-sm-6 " name="free_rest" id="free_rest" value="{$contract['free_rest'] - $contract['rest_count']}"></div>
                        </div>


                            <div class="form-group red">
                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="extra" >升级会费:</label>

                                <div class="col-xs-12 col-sm-9">
                                    <input type="text" class=" col-xs-12 col-sm-6 red"  id="extra" readonly = "readonly" value="￥{$extra}（需单独付款）"></div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="should_pay" >需补差额:</label>

                                <div class="col-xs-12 col-sm-9">
                                    <input type="text" class=" col-xs-12 col-sm-6 " name="should_pay" id="should_pay"  ></div>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                <label for="cash" class="control-label col-xs-12 col-sm-3 no-padding-right">现金</label>
                                <div class="col-xs-12 col-sm-9">
                                    <input class="form-control col-xs-12 col-sm-6" type="text" name="cash" id="cash" value="0"></div>
                            </div>
                            <div class="form-group">
                                <label for="pos" class="control-label col-xs-12 col-sm-3 no-padding-right">刷卡</label>
                                <div class="col-xs-12 col-sm-9">
                                    <input value="0" class="form-control col-xs-12 col-sm-6" type="text" name="pos" id="pos"></div>
                            </div>
                            <div class="form-group">
                                <label for="check" class="control-label col-xs-12 col-sm-3 no-padding-right">支票</label>
                                <div class="col-xs-12 col-sm-9">
                                    <input value="0" class="form-control col-xs-12 col-sm-6" type="text" name="check" id="check"></div>
                            </div>
                            <div class="form-group">
                                <label for="check_num" class="control-label col-xs-12 col-sm-3 no-padding-right">支票号</label>
                                <div class="col-xs-12 col-sm-9">
                                    <input class="form-control col-xs-12 col-sm-6" type="text" name="check_num" id="check_num"></div>
                            </div>

                        <div class="form-group">
                            <label for="network" class="control-label col-xs-12 col-sm-3 no-padding-right">网络支付</label>
                            <div class="col-xs-12 col-sm-9">
                                <input value="0" class="form-control col-xs-12 col-sm-6" type="text" name="network" id="network"></div>
                        </div>
                        <div class="form-group">
                            <label for="netbank" class="control-label col-xs-12 col-sm-3 no-padding-right">网银分期</label>
                            <div class="col-xs-12 col-sm-9">
                                <input value="0"  class="form-control col-xs-12 col-sm-6" type="text" name="netbank" id="netbank"></div>
                        </div>
                          <div class="form-group">
                            <label for="contract_number" class="control-label col-xs-12 col-sm-3 no-padding-right">合同号</label>
                            <div class="col-xs-12 col-sm-9">
                                <input value="" class="form-control col-xs-12 col-sm-6" type="text" name="contract_number" id="contract_number"></div>
                        </div>
     
                            <div class="form-group">
                                <label for="description" class="control-label col-xs-12 col-sm-3 no-padding-right">备注</label>
                                <div class="col-xs-12 col-sm-9">
                                    <textarea class="form-control col-xs-12 col-sm-6"  name="description" id="description" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit"> <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script>
    function calEndTime()
        {
            if(current_card_type==null) return;
            var start_time=$("#start_time").val();
            var params=start_time.split("-");
            var year=parseInt(params[0]);
            var month=parseInt(params[1]);
            var day = parseInt(params[2]); 
            month += parseInt(current_card_type.valid_time);
            year += Math.floor(month/12);
            month=month%12; 
            var date = new Date() ; 
            date.setFullYear(year,month-1,day); 
             if(!isNaN(parseInt(parseInt($("#present_day").val()))))
            date.setDate(date.getDate()+parseInt($("#present_day").val())); 
            $("#end_time").val(date.format("yyyy-MM-dd"));
        };
  $("#present_day").on('input',function(e){  
                calEndTime();
        });  
      

        var saletypes = eval("(" + '{$typesarr}' + ")");
        var current_contract = '{$current_contract}';
        current_contract=current_contract.replaceAll("\r\n", "<br/>") ;
        var current_contract=eval("(" + current_contract + ")");
        var extra = '{$extra}';
$(function(){ 
            $("#card_type_id").change(function(){
              
                $("#end_time").val("");
                var card_type_id = $(this).val();
                if(card_type_id==0)
                {
                    $("#detail").addClass("hide"); 
                     $("#should_pay").val("");
                }
                current_card_type=null;
                for(var i=0;i<saletypes.length;i++)
                {
                    if(saletypes[i].id==card_type_id)
                    {
                        var ct=saletypes[i].type==1?"时间卡":"次数卡"
                        $("#cardtype").text(ct);
                        var vt=saletypes[i].valid_time+" 月";                        
                        $("#valid_time").text(vt);
                        $("#card_price").text(saletypes[i].price);
                        var vn=saletypes[i].type==1?"不限次数":saletypes[i].valid_number+" 次"                   
                        $("#valid_number").text(vn);
                        $("#detail").removeClass("hide");
                        $("#day_tip").text("<"+saletypes[i].max_present_day);
                        $("#num_tip").text("<"+saletypes[i].max_present_num);
                        $("#present_value").val(saletypes[i].max_present_value);
                        str = current_contract.start_time.replace(/-/g,"/");                        
                        var date = new Date(str);
                        // var now = new Date();
                        var year = date.getFullYear();
                        var month = date.getMonth()+1;
                        var day = date.getDate();  
                        month += parseInt(saletypes[i].valid_time);
                        year += Math.floor(month/12);
                        month=month%12;  
                        $("#end_time").val(year+"-"+padLeft(month,2)+"-"+padLeft(day,2)); 
                        $("#should_pay").val(saletypes[i].price - current_contract.price );
                        current_card_type=saletypes[i];
                        return;
                    }
                    $("#detail").addClass("hide");
                }
            }); 
});
        </script></block>