<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Yoga 后台管理系统</title>

  <!-- Bootstrap -->
  <link href="__CSS__/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="__JS__/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="__JS__/bootstrap.min.js"></script>
  <script src="__JS__/cms.js"></script>
  <link href="__CSS__/cms.css" rel="stylesheet">
  <block name="script"></block>

  <!-- inline styles related to this page -->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

  <!--[if lt IE 9]>
  <script src="__JS__/html5shiv.js"></script>
  <script src="__JS__/respond.min.js"></script>
  <![endif]-->

</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Yoga Cms</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <li class="dropdown">
          <a href="{:U('system/index')}" class="dropdown-toggle" data-toggle="dropdown">系统设置 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">    
            <li><a href="{:U('system/index')}">默认角色</a></li>           
          </ul>
        </li>

        <li class="dropdown">
          <a href="{:U('system/index')}" class="dropdown-toggle" data-toggle="dropdown">调查问卷 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">    
            <li><a href="{:U('Quiz/quiz')}">调查问卷</a></li>           
          </ul>
        </li>


       <li class="dropdown">
          <a href="{:U('Admin/Brand/index')}" class="dropdown-toggle" data-toggle="dropdown">品牌管理 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"  data-toggle="modal" data-target="#editbrand">添加品牌</a></li>
            <li><a href="{:U('Admin/Brand/index')}">品牌查询</a></li>           
          </ul>
        </li>



        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户管理 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"  data-toggle="modal" data-target="#edituser" >添加帐号</a></li>
            <li><a href="{:U('Admin/User/index')}">用户查询</a></li>           
          </ul>
        </li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">你好,{$user} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{:U('Admin/User/editpw')}">修改密码</a></li>
            <li><a href="{:U('Admin/User/logout')}">退出</a></li>            
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
	<block name="content">content</block>
</div>
<block name="modal">
  <div class="modal fade" id="editbrand" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">添加品牌</h4>
      </div>
      <div class="modal-body">
      <form class="form-horizontal" role="form" action="{:U('brand/edit')}">
        <input type="hidden" name="id" value="0" id="brand_id"/>
        <div class="form-group">
              <label for="brand_name" class="col-sm-2 control-label">品牌名称:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="brand_name" name="brand_name"></div>
            </div>

         <div class="form-group">
              <label for="username" class="col-sm-2 control-label">登录帐号:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="username" ></div>
            </div>

            <div class="form-group">
              <label for="password" class="col-sm-2 control-label">密 　 码:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" ></div>
            </div>

             <div class="form-group">
              <label for="contact_name" class="col-sm-2 control-label">联 系 人:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="contact_name" name="contact_name"></div>
            </div>
             <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="email" name="email" ></div>
            </div>
             <div class="form-group">
              <label for="phone" class="col-sm-2 control-label">电 　 话:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="phone" name="phone"></div>
            </div>

            <div class="form-group">
            <label for="roles" class="col-sm-3 control-label">
                <select class="form-control" id="chooserole" name="chooserole">
                  <option value="default">默认权限</option>
                  <option value="set">设置</option>                  
              </select>
            </label>
            <div class="col-sm-9" id="roles" style="display:none">
                <label class="checkbox-inline">
                  <input type="checkbox" id="default_role" value="shopkeeper" name="roles[]" <notempty name="shopkeeper">checked</notempty>> 店长
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="default_role" value="finance" name="roles[]" <notempty name="finance">checked</notempty>> 财务
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="default_role" value="reception" name="roles[]" <notempty name="reception">checked</notempty>> 前台
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="default_role" value="bar" name="roles[]" <notempty name="bar">checked</notempty>> 水吧
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="default_role" value="cashier" name="roles[]" <notempty name="cashier">checked</notempty>> 收银员
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="default_role" value="mcmanager" name="roles[]" <notempty name="mcmanager">checked</notempty>> MC经理
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="default_role" value="mc" name="roles[]" <notempty name="mc">checked</notempty>> MC
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="default_role" value="ptmanager" name="roles[]" <notempty name="ptmanager">checked</notempty>> PT经理
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="default_role" value="pt" name="roles[]" <notempty name="pt">checked</notempty>> PT
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="default_role" value="channelmanager" name="roles[]" <notempty name="channelmanager">checked</notempty>> 渠道经理
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="default_role" value="channel" name="roles[]" <notempty name="channel">checked</notempty>> 渠道销售
                </label>
            </div>
            <span class="help-block" style="margin-left:20px"></span>
            </div>
             <div class="form-group">
              <label for="desc" class="col-sm-2 control-label">备 　 注:</label>
             <div class="col-sm-10">
                <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
               </div>
            </div>         
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="add_brand">添加</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id="edituser" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">添加用户</h4>
      </div>
      <div class="modal-body">
      <form class="form-horizontal" role="form" action="{:U('user/edit')}">         
        <div class="form-group">
              <label for="brand_name" class="col-sm-2 control-label">用户名:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="username"></div>
            </div> 
            <div class="form-group">
              <label for="password" class="col-sm-2 control-label">密 　 码:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" name="password" ></div>
            </div>      
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="add_user">添加</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</block>
</body>
</html>