<extend name="Home@Public:base" />
<block name="breadcrumb">
    <ul class="breadcrumb">
        <li> <i class="icon-home home-icon"></i>
            <a href="{:U('Home/Main/main')}">品牌管理</a>
        </li>
        <li class="active">客户管理</li>

    </ul>
</block>

<block name="content">

    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline query_member" role="form" action="{$action}" method="post"  > 
             
                <input type="hidden" value="{$is_member}" name="is_member" oper="eq">
                
                <if condition="1 eq $display_channel">
                <div class="form-group">
                    <label class="sr-only" for="channel_id">选择渠道</label>
                    <select name="channel_id" id="channel_id" class="form-control" oper="eq">
                        <option value="0">所有渠道</option>
                        <volist name="channels" id="channel">
                            <option value="{$channel.id}">{$channel.name}</option>
                        </volist>
                    </select>
                </div>
            </if>
                <if condition="1 eq $display_member_type">
                <div class="form-group">
                    <label class="sr-only" for="type">客户分类</label>
                    <select name="type" id="type" class="form-control" oper="eq">
                        <option value="0">所有客户</option>
                        <option value="4">A类</option>
                        <option value="3">B类</option>
                        <option value="2">C类</option>
                        <option value="1">D类</option>
                    </select>
                </div>
                </if>
                <if condition="1 eq $display_card_number">
                      <div class="form-group">
                    <label  for="name">卡号:</label>
                    <input type="text" class="form-control" name="card_number"  id="card_number" oper="eq"></div>
               </if>

                <div class="form-group">
                    <label  for="name">姓名:</label>
                    <input type="text" class="form-control" name="name"  id="name" oper="eq"></div>

                <div class="form-group">
                    <label  for="phone">手机号:</label>
                    <input type="text" class="form-control" name="phone"  id="phone" oper="eq"></div>

                <button type="submit" class="btn  btn-info btn-sm"> <i class="icon-search"></i>
                    查询
                </button>

            </form>
        </div>
        <div class="col-xs-12">
            <table  id="member_grid"></table>
            <div id="member_grid_pager"></div>
        </div>
       
    </div>
 <div id="show_detail"></div>
</block>

<block name="script">
    <script>

function showdetail(id)
{
 if(lasdetailtid==id && $("#show_detail").text()!='')return; lasdetailtid=id;
     $.post("{$show_url}", {id:id}, function(data,textStatus){
                              $("#show_detail").text("");
                              $("#show_detail").append(data);
                        }, "json");
 
}
$(function(){ 
    $("{$active_open}").addClass("active open");
    $("{$active}").addClass("active");
     var is_member =  '{$is_member}' ;
    var show_channel_col='{$show_channel_col}'==1; 
    var show_status_col='{$show_status_col}'==1;
    


    var grid_selector = "#member_grid";
    var pager_selector = "#member_grid_pager";
    
                jQuery(grid_selector).jqGrid({
                    url:"{$action}",                 
                    datatype: "json",
                    height: "100%",  
                    width:"100%",          
                    mtype:"POST",
                    postData:{is_member:is_member},
                    colNames:['ID','姓名','手机号码','性别','分类','访客状态','渠道', '创建时间'],
                    colModel:[ 
                        {name:'id',index:'id',hidden:true,sortable:true,editable: false ,width:100,formatter : function(value, options, rData){
                            return value;
                            // return "<a href='javascript:void(0)' onclick=showdetail("+value+")>"+value+"</a>";
            },sorttype:'integer', searchoptions:{sopt:['eq','ne','le','lt','gt','ge']}},
                        {name:'name',index:'name',width:80,editoptions:{size:"20",maxlength:"30"},formatter : function(value, options, rData){
                              var html='<a  target="_blank" href="/Mc/Visit/index/id/'+rData.id+'" >'+value+'</a>'; 
                           return html;
                            //   var v=rData.id;
                            // return "<a href='javascript:void(0)' onclick=showdetail("+v+")>"+value+"</a>";
            }},
                        {name:'phone',index:'phone',hidden:true,width:150,editoptions:{size:"20",maxlength:"30"},search:true},
                       {name:'sex',index:'sex', width:60,editoptions:{size:"20",maxlength:"30"},edittype:"select",editoptions:{value:"male:男;female:女"},formatter : function(value, options, rData){
                           return value=='male'|| value=='男'?"男":"女";
            },},
                        {name:'type',index:'type', width:60,editoptions:{size:"20",maxlength:"30"},edittype:"select",formatter : function(value, options, rData){
                         var a=new Array("","D类","C类","B类","A类");
                           return getValue(a,value); 
            }}, 
             {name:'is_member',index:'is_member',hidden:!show_status_col, width:100,editoptions:{size:"20",maxlength:"30"},formatter : function(value, options, rData){
                            var a=new Array("潜在客户","正式会员");
                           return getValue(a,value);
            },},

             {name:'channel',index:'channel',hidden:!show_channel_col, width:100,editoptions:{size:"20",maxlength:"30"},formatter : function(value, options, rData){
                    if(value==null) return "未知";
                          return value.name;
            },},

                        {name:'create_time',index:'create_time',editable: false , width:100,editable: true,sorttype:'date', editrules:{date:true},formatter:'datetime', datefmt:'Y-m-d H:i:s',},   
                    ],       
                   
                    pager : pager_selector,
                    altRows: true,                   
                    multiselect: true,
                    multiboxonly: true,
                    pgbuttons:true,
                    pginput : false,
                    cmTemplate: {sortable:false,editable: false,search:false},
                    sortorder: "desc",
                    editurl: "",    
                     autowidth: true,
                     shrinkToFit:true,  
                    caption: "客户信息" ,
                    // hidegrid:false,
                     rowNum: 10,
                    rowList: [10, 20, 30],
                    viewrecords: true,
                    gridview: true,
                    jsonReader:{userdata:"userdata"},
                     onSelectRow: function (rowid, status) { 
                         if(status==true)
                         {
                             showdetail(rowid);
                             return;
                         } 
                         else
                         {
                            $("#show_detail").text("");
                         }
                     }, 

                    loadComplete : function() {  
                        var table = this;
                        setTimeout(function(){ 
                            updatePagerIcons(table);
                            enableTooltips(table);
                        }, 0); 
                    }, 
                });  
 
    jQuery(grid_selector).jqGrid('inlineNav',pager_selector);
                //navButtons
                jQuery(grid_selector).jqGrid('navGrid',pager_selector,
                    {   //navbar options
                        edit: false,
                        editicon : 'icon-pencil blue',
                        add: false,
                        addicon : 'icon-plus-sign purple',
                        del: false,
                        delicon : 'icon-trash red',
                        search: false,
                        searchicon : 'icon-search orange',
                        refresh: false,
                        refreshicon : 'icon-refresh green',
                        view: false,
                        viewicon : 'icon-zoom-in grey',
                    } 
                );
 <if condition="1 eq $show_edit">
jQuery(grid_selector).jqGrid('navButtonAdd',pager_selector,{position: "first",buttonicon : 'icon-pencil blue',caption:"",title:"修改",
    onClickButton:function(){ 
        var id = jQuery(grid_selector).jqGrid('getGridParam','selrow');
    if (id) {
        var ret = jQuery(grid_selector).jqGrid('getRowData',id);
        window.location.href = "index/id/"+ret.id;
    } else { alert("请先选中要修改的行！");}
         
    } 
});
</if>

 <if condition="1 eq $show_add">
jQuery(grid_selector).jqGrid('navButtonAdd',pager_selector,{position: "first",buttonicon : 'icon-plus-sign purple',caption:"",title:"新增",
    onClickButton:function(){ 
         window.location.href = "index";
    } 
});
</if>

})
</script>
</block>