<extend name="Home@Public:base" />
<block name="breadcrumb">
    <ul class="breadcrumb">
        <li> <i class="icon-home home-icon"></i>
            <a href="{:U('Home/Main/main')}">PT经理</a>
        </li>
        <li class="active">潜客管理</li>

    </ul>
</block>

<block name="content">

    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline" role="form" action="{:U('Ptmanager/Member/getMembers')}" method="post" id="ptmanager_query_member" > 
             
                <input type="hidden" value="{$is_member}" name="is_member" oper="eq">
                <div class="form-group">
                    <label class="sr-only" for="pt_id">PT</label>
                    <select name="pt_id" id="pt_id" class="form-control" oper="eq">
                        <option value="-1">所有PT</option>
                        <option value="0">未指定PT</option>
                        <volist name="pts" id="pt">
                            <option value="{$pt.id}">{$pt.name_cn}</option>
                        </volist>
                    </select>
                </div>
                
                
                 <div class="form-group">
                    <label class="sr-only" for="create_time">创建时间</label>
                    <select name="create_time" id="create_time" class="form-control" oper="eq">
                        <option value="0">创建时间</option>
                        <option value="1">当日</option>
                        <option value="3">三天内</option>
                        <option value="7">一周内</option>
                        <option value="30">一个月内</option>
                        <option value="-1">自定义</option>
                    </select>
                </div>
                
                <div class="form-group define hide">
                    <label  for="start_time">起始时间:</label>
                    <input type="text" class="date_ymd form-control" name="start_time"  id="start_time" oper="eq"></div>

                <div class="form-group define hide">
                    <label  for="end_time">结束时间:</label>
                    <input type="text" class="date_ymd form-control" name="end_time"  id="end_time" oper="eq">
                    </div>
                   
                
                <div class="form-group">
                    <label class="sr-only" for="type">客户分类</label>
                    <select name="type" id="type" class="form-control" oper="eq">
                        <option value="0">所有客户</option>
                        <option value="4">A类</option>
                        <option value="3">B类</option>
                        <option value="2">C类</option>
                        <option value="1">D类</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label  for="name">姓名:</label>
                    <input type="text" class="form-control" name="name"  id="name" oper="eq"></div>

                <div class="form-group">
                    <label  for="phone">手机号:</label>
                    <input type="text" class="form-control" name="phone"  id="phone" oper="eq"></div>

                <button type="submit" class="btn  btn-info btn-sm"> <i class="icon-search"></i>
                    查询
                </button>

            </form>
        </div>
        <div class="col-xs-12">
            <table id="ptmanager_member_grid"></table>
            <div id="ptmanager_member_grid_pager"></div>
        </div>
       
    </div>
 <div id="show_detail"></div>
</block>

<block name="script">
    <script>

function showdetail(id)
{
 if(lasdetailtid==id && $("#show_detail").text()!='')return; lasdetailtid=id;
     $.post("/Ptmanager/Member/show", {id:id}, function(data,textStatus){
                              $("#show_detail").text("");
                              $("#show_detail").append(data);
                        }, "json");
 
}
$(function(){ 
var is_member =  '{$is_member}' ;
var active =  '{$active}' ;
var active_open =  '{$active_open}' ;
$(active).addClass("active");
$(active_open).addClass("active open");

var pts = eval("(" + '{$ptsarr}' + ")");
var ptselect="<select id='assign_pt'>";
for(var i=0;i<pts.length;i++)
{
    ptselect+="<option value='"+pts[i].id+"'>"+pts[i].name_cn+"</option>";
}
ptselect+="</select>";

$("#create_time").change(function(){
    var value=$(this).val();
    if(value==-1)
    {
        $(".define").removeClass("hide");
    }
    else
    {
        $(".define").addClass("hide");
        $(".define :input").val("");
    }
});


    var grid_selector = "#ptmanager_member_grid";
    var pager_selector = "#ptmanager_member_grid_pager";
    
                jQuery(grid_selector).jqGrid({
                    url:"/Ptmanager/Member/getMembers",                 
                    datatype: "json",
                    height: "100%",  
                    width:"100%",          
                    mtype:"POST",
                    postData:{is_member:is_member},
                    colNames:['ID','姓名','手机号码','性别','分类','当前PT','创建时间'],
                    colModel:[ 
                        {name:'id',index:'id',hidden:true,sortable:true,editable: false ,width:100,formatter : function(value, options, rData){
                            return value;
                            // return "<a href='javascript:void(0)' onclick=showdetail("+value+")>"+value+"</a>";
            },sorttype:'integer', searchoptions:{sopt:['eq','ne','le','lt','gt','ge']}},
                        {name:'name',index:'name',width:80,editoptions:{size:"20",maxlength:"30"},formatter : function(value, options, rData){
                            return value;
                            //   var v=rData.id;
                            // return "<a href='javascript:void(0)' onclick=showdetail("+v+")>"+value+"</a>";
            }},
                        {name:'phone',index:'phone',hidden:true,width:150,editoptions:{size:"20",maxlength:"30"},search:true},
                       {name:'sex',index:'sex', width:60,editoptions:{size:"20",maxlength:"30"},edittype:"select",editoptions:{value:"male:男;female:女"},formatter : function(value, options, rData){
                           return value=='male'|| value=='男'?"男":"女";
            },},
                        {name:'type',index:'type', width:60,editoptions:{size:"20",maxlength:"30"},edittype:"select",formatter : function(value, options, rData){
                         var a=new Array("","D类","C类","B类","A类");
                           return getValue(a,value); 
            }}, 
             {name:'pt',index:'pt',hidden:false, width:100,editoptions:{size:"20",maxlength:"30"},formatter : function(value, options, rData){
                            if(value==null) return "No PT!";
                            if(isString(value)) return value;
                           return value.name_cn;
            },},

                        {name:'create_time',index:'create_time',editable: false , width:100,editable: true,sorttype:'date', editrules:{date:true},formatter:'datetime', datefmt:'Y-m-d H:i:s',},   
                    ],       
                   
                    pager : pager_selector,
                    altRows: true,                   
                    multiselect: true,
                    multiboxonly: true,
                    pgbuttons:true,
                    pginput : false,
                    cmTemplate: {sortable:false,editable: false,search:false},
                    sortorder: "desc",
                    editurl: "",    
                     autowidth: true,
                     shrinkToFit:true,  
                    caption: "客户信息" ,
                    // hidegrid:false,
                     rowNum: 10,
                    rowList: [10, 20, 30],
                    viewrecords: true,
                    gridview: true,
                    jsonReader:{userdata:"userdata"},
                     onSelectRow: function (rowid, status) { 
                         if(status==true)
                         {
                             showdetail(rowid);
                             return;
                         } 
                         else
                         {
                            $("#show_detail").text("");
                         }
                     }, 

                    loadComplete : function() { 
                        var table = this;
                        setTimeout(function(){ 
                            updatePagerIcons(table);
                            enableTooltips(table);
                        }, 0); 
                    }, 
                });  
 
    jQuery(grid_selector).jqGrid('inlineNav',pager_selector);
                //navButtons
                jQuery(grid_selector).jqGrid('navGrid',pager_selector,
                    {   //navbar options
                        edit: false,
                        editicon : 'icon-pencil blue',
                        add: false,
                        addicon : 'icon-plus-sign purple',
                        del: false,
                        delicon : 'icon-trash red',
                        search: false,
                        searchicon : 'icon-search orange',
                        refresh: false,
                        refreshicon : 'icon-refresh green',
                        view: false,
                        viewicon : 'icon-zoom-in grey',
                    } 
                );

    jQuery(grid_selector).jqGrid('navButtonAdd',pager_selector,{position: "first",buttonicon : 'icon-signin blue',caption:"指派PT",title:"指派PT",
    onClickButton:function(){ 
        var id = jQuery(grid_selector).jqGrid('getGridParam','selrow'); 
    if (id) {
        var selectedIds = $("#ptmanager_member_grid").jqGrid("getGridParam", "selarrrow");
        var ptid=$("#assign_pt").val(); 
        var ptname=$("#assign_pt   option:selected").text();
        $.post("/Ptmanager/Member/assign", {members:selectedIds,pt_id:ptid}, function(data,textStatus){
                           bootbox.alert(data.info,null);
                           if(data.status)
                           {
                                
                                for(var i=0;i<selectedIds.length;i++)
                                     $("#ptmanager_member_grid").jqGrid('setRowData',selectedIds[i],{pt:ptname}); 
                           }

                        }, "json");
        
    } else { alert("请先选中要修改的行！");}
         
    } 
});

    $("#ptmanager_member_grid_pager_left table.navtable tbody tr").append ( 
                '<td><div>'+ptselect+' </div></td>');


  
})
</script>
</block>